.Main
  .Main-header
    .Main-header__current-group
      %p.Main-header__current-group--test
        = @group.name
      %p.Main-header__current-group--member
        - @group.users.each do |user|
          = user.name
    .Main-header__edit
      = link_to "Edit", edit_group_path(params[:group_id]), class:"edit"
  .Main-chat
    = render @messages
  .Main-message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .Form-contents
        = f.text_field :content, class: 'Form-contents__text', placeholder: 'type a message'
        = f.label :image, class: 'Form-contents__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Form-contents__image__file'
      = f.submit 'Send', class: 'submit-btn'