.Sidebar
  .Sidebar-header
    .Sidebar-header__box
      %p.Sidebar-header__box--user
        = current_user.name
      %ul.Sidebar-header__icons
        %li.Sidebar-header__icons--icon
          = link_to "#", class:"edit" do
            = icon('fas', 'edit')
        %li.Sidebar-header__icons--icon
          = link_to edit_user_path(current_user), class:"cog" do
            = icon('fas', 'cog')
  .Sidebar-groups
    .Sidebar-groups__group
      %p.Sidebar-groups__group--name
        techcamp
    .Sidebar-groups__new-message
      まだメッセージがありません
    .Sidebar-groups__group
      %p.Sidebar-groups__group--name
        techcamp
    .Sidebar-groups__new-message
      まだメッセージがありません
    .Sidebar-groups__group
      %p.Sidebar-groups__group--name
        techcamp
    .Sidebar-groups__new-message
      まだメッセージがありません